body { 
  margin: 0;
  padding: 0; 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img{
  width: 100%;
}

.flex-container{
  /* display:flex; */
  flex-flow: column wrap;
  justify-content: center;
  width: 100%;
  /* height: 95vh; */
}


.itemHeader{
  
  display: flex;
  align-items: flex-start;
  order: 0;
  width: 100%; 
  /* background-image: url("../src/images/MYtineraryLogo.png"); */
  background-repeat: no-repeat;
  background-size: contain;
  /* height: 144px; */
}

.itemHeader img{
  width: 100%;
  /* height: 164px; */
}

/* --------------LANDING PAGE----------------- */

.itemInfo{
  display: flex;
  justify-content:  center;
  align-items: center;
  margin-top: 11px;
  margin-left: 13px;
  order: 1;
}

.itemNext{
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 2;
}

.itemNext img{
  width: 63px;
  
}

.itemLinks{
  display: flex;
  justify-content: center;
  order: 3;
}

.itemFooter{
  display:flex;
  /* align-self: center; */
  justify-content: center;
  order: 4;
  margin-top: 23px;
}

.itemFooter img{
   width: 63px;
   
}

/* ------------CITIES PAGE--------------- */

.filter{
  display: flex;
  justify-content: center;
  margin-top: 74px
}

#filter{
  border: 1px solid black;
  margin-left: 11px;
}

.city-list{
  display: flex;
  margin-right: 33px;
  margin-top: 27px;
}

li{
  border: 1px solid black;
  list-style-type: none;
  padding: 12px;
}

/* -------------ITINERARIES PAGE------------- */

.itineraries-list{
  display: grid;
  grid-gap:26px;
  
}

.itineraryItem{
  display: grid;
  border: 1px solid black;
  
}
.titleIt{
  grid-column: 2/ span 3;
  grid-row:1;
}

.detailsIt{
  grid-column: 2/span 3;
  grid-row:2;
  display: flex;
  justify-content: space-around;
}

.hashtag{
  grid-column: 2/span 3;
  grid-row: 3;
  display: flex;
  
}
.viewAll{
  grid-column: 1/span 4;
  grid-row:4;
  display: flex;
    background-color: grey;
    justify-content: center;
}

.user{
  grid-column: 1;
  grid-row: 1 / span 2;
}
.user img{
  width: 63px;
}

/* ------------NEW ACCOUNT PAGE------------- */

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

input{
  border: 1px solid black;
  size: 5px;
  margin-left: 5px;
  margin-bottom: 21px;
}

.photoUser{
  border-radius: 50px;
  width: 100px;
  height: 100px;
}

.userName{
  margin-left: 6px;
}

.password{
  margin-left: 10px;
}

.email{
 margin-left: 41px;
}

.country{
  margin-left: 17px;
}

select {
  margin-left: 8px;
  height: 26px;
  background-image:
    linear-gradient(45deg, black 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, black 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(107% - 18px) 1em,
    calc(103% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color:black 50%;
  outline: 0;
}

.checkbox{
  margin-top: 16px;
}

button{
  border: 1px solid black;
  align-self: center;
  margin-left: 39%;
}